#content {
	width : 80%;
	height : 80%;
	margin-top: 30px;
	margin-left: 10%;
}
.ajax-loader {
	z-index:99;
	width:132px;
	height:46px;
	border:1px solid red;
	position:absolute;
	top:45%;
	left:45%;
	padding:2px;
	background: white;
}
.wait {
	background: rgba(0,0,0,0.5) !important;
	z-index:98 !important;
}
#footer {
	bottom:0;
	position: absolute;
	left: 46%;
}
.action_btn{
	margin-top:-55px;
	margin-right: 10px;
}
